/* @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


@import "tailwindcss";

@layer base {
  html {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-color: #fdfdff;
    overflow-x: hidden;
  }
}

@layer components {
  .login {
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
  }

  .input-box {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .btn-primary {
    background-color: #1a202c;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .input-label {
    font-size: 0.875rem; /* text-sm */
    color: #94a3b8; /* text-slate-400 */
  }
}